<!-- Page Title -->
<h1 class="h4 mb-4">New Task</h1>

<!-- Task Form Render -->
<div class="mb-4">
  <%= render 'form' %>
</div>

<!-- Back Button -->
<%= link_to 'Back', project_path(@project), class: 'btn btn-secondary' %>


